@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;

}
a{
    text-decoration: none;
}

.contenido{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenido h1{
    font-size: 2rem;
    padding: 2rem;
}

.error-msg{
    display: inline;
    color: #fff;
    margin:0.5rem;
    padding:0.8rem;
    border-radius: 10px;
    background-color:#FF6B6B;
}

.success-msg{
    display: inline;
    color: #fff;
    margin:0.5rem;
    padding:0.8rem;
    border-radius: 10px;
    background-color:darkkhaki;
}

.user-datos{
    width:80%;
    text-align: center;
    padding: 1rem;
    margin: 1rem;
    background-color: lightgreen;
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.link-main{
    text-decoration: none;
    align-self:center;
    color: brown;
    font-weight: bold;
    
}

.link-main:hover{
    color: cornflowerblue;
    font-weight: bold;
    
}

.form-alta{
    display: flex;
    flex-direction: column;
    background-color:#D9D7D7;
    align-items: center;
    padding: 1rem;
    width: 50%;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.form-alta form{
    display: flex;
    flex-direction: column;
    width: 85%;
}

.form-alta label{
    padding-top:15px;
}

.form-alta input, select{
    margin-bottom: 15px;
    padding:10px;
    border:1px solid #ccc;
    border-radius: 5px;
}

.form-alta .buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.form-alta button{
    align-self:center;
    padding:10px;
    margin:5px;

}

.btn{
    background-color: dodgerblue;
    width:30%;
    color: white;
    padding: 10px 20px;
    margin:10px;
    border: none;
    cursor: pointer;
    text-align: center;
    transition: transform 0.3s ease;
}

.btn:hover{
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    
}

@media screen and (max-width:768px){
    .form-alta{
        width: 90%;
    }
}